
body { /* Dark-mode background  */
    background: rgb(32, 30, 32);
    font-family: 'Courier New', Courier, monospace;
}
    
header {
    background: purple;
}

section {
    background: skyblue;
    display: flex;
    flex-direction: row;

}

footer {
    background: pink;
}

div {
    background-color: gold;
    margin: auto;
    width: 20px;

}


p {
color: #4aff00;
}

h1{
    color: rgb(20, 224, 156);

}

h2{
    color: orange;

}


h3 {
    color: #33FF00;  /* Meant to be Terminal Green */
    
}

h6 {
    color: #ff0000;
    
}


a{
    color: #ffb700;  /* Meant to look like Amber Phos */

}

li{
    color: #33FF00;
    margin: 20px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}